.dashboard-container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: #f5f5f5; // Light background for contrast
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333; // Dark background for header
  color: #fff;
}

.title-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.flex1 {
  display: flex;
  align-items: center;
}

.cart-nav {
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
}

.logout-icon {
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
}

.content-container {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  padding: 20px;
}

.filter-section {
  width: 250px;
  padding: 20px;
  background-color: #fff; // White background for filter section
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.product-list {
  flex-grow: 1;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  cursor: pointer;
}

.loading,
.error {
  color: #f00;
}
