.carousel-container {
    width: 100%;
    max-width: 100vw; /* Adjust based on your needs */
    margin: 0 auto;
    color:black
  }
  
  .carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  /* Optional: Style the dots */
  .slick-dots li button:before {
    color: #000; /* Dot color */
  }
  